:root {
  --background-light: #f7f6f2;
  --foreground-light: #282828;

  --project-height-desktop: 135px;
  --footer-height: 65px;
  --number-of-projects: 7;
  --height-of-all-projects-desktop: 945px; /* Needs to be manually calculated and changed in HomePageLinkWrapper.module.css */

  /* --project-height-XL: calc(90vh / var(--number-of-projects)); */

  --yellow: #fde138;
  --orange: #ffa61e;
  --blue: #2e66f5;
  --green: #12ab27;
  --red: #ed3920;

  --border-light: 1px solid var(--foreground-light);

  --homepage-body-padding-desktop: 30px;
  --homepage-body-padding-mobile: 16px;
  --homepage-link-margin-left: 8px;

  --gulax-font: "Gulax", Arial, Helvetica, sans-serif;
  --pilowlava-font: "Pilowlava", "Gulax", Arial, Helvetica, sans-serif;
  --picnic-font: "PicNic", "Gulax", Arial, Helvetica, sans-serif;
  --typefesse-font: "Typefesse", "Gulax", Arial, Helvetica, sans-serif;
  --solide-mirage-font: "Solide Mirage", "Gulax", Arial, Helvetica, sans-serif;
  --inter-font: "Inter", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Gulax";
  src: url("../assets/fonts/Gulax-Regular.otf") format("opentype"), url("../assets/fonts/Gulax-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Gulax-Regular.woff") format("woff"), url("../assets/fonts/Gulax-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pilowlava";
  src: url("../assets/fonts/Pilowlava-Regular.otf") format("opentype"), url("../assets/fonts/Pilowlava-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Pilowlava-Regular.woff") format("woff"), url("../assets/fonts/Pilowlava-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "PicNic";
  src: url("../assets/fonts/PicNic-Regular.otf") format("opentype"), url("../assets/fonts/PicNic-Regular.eot") format("embedded-opentype"), url("../assets/fonts/PicNic-Regular.woff") format("woff"), url("../assets/fonts/PicNic-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Typefesse";
  src: url("../assets/fonts/Typefesse_Claire-Obscure.otf") format("opentype"), url("../assets/fonts/Typefesse_Claire-Obscure.eot") format("embedded-opentype"), url("../assets/fonts/Typefesse_Claire-Obscure.woff") format("woff"), url("../assets/fonts/Typefesse_Claire-Obscure.woff2") format("woff2");
}
@font-face {
  font-family: "Solide Mirage";
  src: url("../assets/fonts/SolideMirage-Mono.otf") format("opentype"), url("../assets/fonts/Solide_Mirage-Mono_web.eot") format("embedded-opentype"), url("../assets/fonts/Solide_Mirage-Mono_web.woff") format("woff"), url("../assets/fonts/Solide_Mirage-Mono_web.woff2") format("woff2"), url("../assets/fonts/Solide_Mirage-Mono_web.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.otf") format("opentype"), url("../assets/fonts/Inter-Light.woff") format("woff"), url("../assets/fonts/Inter-Light.woff2") format("woff2"), url("../assets/fonts/Inter-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

/* For anchor link smooth scroll */
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible {
  outline: 1px solid var(--foreground-light);
  outline-offset: 2px 6px;
}

/* Skip to content */
.assistive-text {
  top: 0px;
  left: 0;
  position: absolute;
  background: var(--foreground-light);
  color: var(--background-light);
  height: auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 0.3s;
  outline: none;
}

.assistive-text:focus {
  transform: translateY(0%);
}

/* 
Smallest width of smartphones is 300px. Samsung fold front screen is 320x519.
The screen can be resized to 300px.

--mobile-width: 480px;
--tablet-width: 600px;
--desktop-width: 960px;
--wide-screen-width: 1440px;
--max-width: 1600px; 

The best breakpoint for ultra wide screens are between 1400 to 1600px depending on content.
*/

/* SM */
@media (max-width: 480px) {
}

/* Above SM */
@media (min-width: 480px) {
}

/* Below M */
@media (max-width: 600px) {
}

/* M */
@media (min-width: 600px) and (max-width: 960px) {
}

/* Above M */
@media (max-width: 960px) {
}

/* L */
@media (min-width: 960px) and (max-width: 1440px) {
}

/* XL */
@media (min-width: 1440px) and (max-width: 1600px) {
}

/* Animation yes */
@media (prefers-reduced-motion: no-preference) {
}

/* Animation no */
@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

/* When project height doesn't fill window height. Manual calculation */
@media (min-height: 945px) {
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media (prefers-color-scheme: light) {
	html {
	  color-scheme: light;
	}
	body {
	  color: white;
	  background: black;
	}
  }
  
 */

body {
  background: var(--background-light);
  color: var(--foreground-light);
}
