.main {
  max-width: var(--max-width);
  overflow-x: hidden;
}

.footer {
  font-family: var(--gulax-font);
  padding: var(--homepage-link-margin-left);
  border-top: var(--border-light);
  width: 100%;
  height: var(--footer-height);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.footer a {
  border-bottom: 1px solid var(--foreground-light);
}
