.linkwrapper {
  display: flex;
  padding: 16px 0;
  overflow-x: auto;
  height: 135px;
  flex-wrap: nowrap;
  height: calc(90vh / var(--number-of-projects));
  width: 100vw;
  position: relative;
  overflow-y: hidden;

  /* Removing scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-bottom: var(--border-light);
}

.linkwrapper:hover {
  animation-play-state: paused;
}

/* Below M */
@media (max-width: 960px) {
  .linkwrapper {
    min-height: 80px;
  }
}

/* Above M */
@media (min-width: 960px) {
  .linkwrapper {
    min-height: 135px;
  }
}

.linkwrapper::-webkit-scrollbar {
  display: none;
}
