.linkwrapper {
  display: flex;
  padding: 16px 0;
  overflow-x: auto;
  height: 135px;
  flex-wrap: nowrap;
  width: auto;
  width: 100vw;
  position: relative;
  overflow-y: hidden;

  /* Removing scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-bottom: var(--border-light);
}

/* Below S */
@media (max-width: 600px) {
  .linkwrapper {
    height: 80px;
  }
}

/* Above S */
@media (min-width: 600px) {
  .linkwrapper {
    height: var(--project-height-desktop);
  }
}

/* When project height doesn't fill window height. Manual calculation */
@media (min-height: 945px) {
  .linkwrapper {
    height: var(--project-height-XL);
  }
}

.linkwrapper::-webkit-scrollbar {
  display: none;
}

/* SM */
/* @media (max-width: 480px) {
  .linkwrapper {
    padding-left: var(--homepage-body-padding-mobile);
  }
} */

/* Above SM */
/* @media (min-width: 480px) {
  .linkwrapper {
    padding-left: var(--homepage-body-padding-desktop);
  }
} */
