.title {
  font-size: calc(calc(45vh / var(--number-of-projects)));
  margin: auto var(--homepage-link-margin-left);
  white-space: nowrap;
}

.title.gulax {
  font-family: var(--gulax-font);
}
.title.pilowlava {
  font-family: var(--pilowlava-font);
}
.title.picnic {
  font-family: var(--picnic-font);
}
.title.typefesse {
  font-family: var(--typefesse-font);
}
.title.solidemirage {
  font-family: var(--solide-mirage-font);
}
